// <copyright file="AccessTokensApi.cs" company="APIMatic">
// UpvestInvestmentApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using UpvestInvestmentApi.Standard.Exceptions;
using UpvestInvestmentApi.Standard.Http.Response;

namespace UpvestInvestmentApi.Standard.Apis
{
    /// <summary>
    /// AccessTokensApi.
    /// </summary>
    public class AccessTokensApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AccessTokensApi"/> class.
        /// </summary>
        internal AccessTokensApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Get an access token to use with the API with specified scopes.
        /// You should _always_ scope your access tokens. You get one for read-access and separate ones for updating, creating or deleting resources.
        /// </summary>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="clientId">Required parameter: Client ID given during onboarding..</param>
        /// <param name="clientSecret">Required parameter: Client Secret given during onboarding..</param>
        /// <param name="grantType">Required parameter: This must always be `client_credentials`..</param>
        /// <param name="scope">Required parameter: List of space delimited scopes to request for this access token..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <returns>Returns the ApiResponse of Models.AuthAccessToken response from the API call.</returns>
        public ApiResponse<Models.AuthAccessToken> IssueToken(
                Guid upvestClientId,
                Guid clientId,
                string clientSecret,
                string grantType,
                string scope,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1)
            => CoreHelper.RunTask(IssueTokenAsync(upvestClientId, clientId, clientSecret, grantType, scope, upvestApiVersion));

        /// <summary>
        /// Get an access token to use with the API with specified scopes.
        /// You should _always_ scope your access tokens. You get one for read-access and separate ones for updating, creating or deleting resources.
        /// </summary>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="clientId">Required parameter: Client ID given during onboarding..</param>
        /// <param name="clientSecret">Required parameter: Client Secret given during onboarding..</param>
        /// <param name="grantType">Required parameter: This must always be `client_credentials`..</param>
        /// <param name="scope">Required parameter: List of space delimited scopes to request for this access token..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AuthAccessToken response from the API call.</returns>
        public async Task<ApiResponse<Models.AuthAccessToken>> IssueTokenAsync(
                Guid upvestClientId,
                Guid clientId,
                string clientSecret,
                string grantType,
                string scope,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AuthAccessToken>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/auth/token")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("client_id", clientId))
                      .Form(form => form.Setup("client_secret", clientSecret).Required())
                      .Form(form => form.Setup("grant_type", grantType).Required())
                      .Form(form => form.Setup("scope", scope).Required())
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}