// <copyright file="FilesApi.cs" company="APIMatic">
// UpvestInvestmentApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using UpvestInvestmentApi.Standard.Exceptions;
using UpvestInvestmentApi.Standard.Http.Response;

namespace UpvestInvestmentApi.Standard.Apis
{
    /// <summary>
    /// FilesApi.
    /// </summary>
    public class FilesApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="FilesApi"/> class.
        /// </summary>
        internal FilesApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Retrieve a file metadata.
        /// </summary>
        /// <param name="folder">Required parameter: Folder containing the file. Must match the pattern `^[a-z0-9-_\.]{1,32}$`..</param>
        /// <param name="fileName">Required parameter: Name of the file to retrieve. Must match the pattern `^[a-z0-9-_\.]{1,255}$`..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="redirect">Optional parameter: To enable HTTP redirect..</param>
        /// <returns>Returns the ApiResponse of Models.FilesMetadata response from the API call.</returns>
        public ApiResponse<Models.FilesMetadata> FetchingFileMetadata(
                string folder,
                string fileName,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                string redirect = "0")
            => CoreHelper.RunTask(FetchingFileMetadataAsync(folder, fileName, upvestClientId, upvestApiVersion, redirect));

        /// <summary>
        /// Retrieve a file metadata.
        /// </summary>
        /// <param name="folder">Required parameter: Folder containing the file. Must match the pattern `^[a-z0-9-_\.]{1,32}$`..</param>
        /// <param name="fileName">Required parameter: Name of the file to retrieve. Must match the pattern `^[a-z0-9-_\.]{1,255}$`..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="redirect">Optional parameter: To enable HTTP redirect..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.FilesMetadata response from the API call.</returns>
        public async Task<ApiResponse<Models.FilesMetadata>> FetchingFileMetadataAsync(
                string folder,
                string fileName,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                string redirect = "0",
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.FilesMetadata>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/files/{folder}/{file_name}")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("folder", folder).Required())
                      .Template(template => template.Setup("file_name", fileName).Required())
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))
                      .Query(query => query.Setup("redirect", redirect ?? "0"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}