// <copyright file="PortfoliosRebalancingApi.cs" company="APIMatic">
// UpvestInvestmentApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using UpvestInvestmentApi.Standard.Exceptions;
using UpvestInvestmentApi.Standard.Http.Response;
using UpvestInvestmentApi.Standard.Models.Containers;

namespace UpvestInvestmentApi.Standard.Apis
{
    /// <summary>
    /// PortfoliosRebalancingApi.
    /// </summary>
    public class PortfoliosRebalancingApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="PortfoliosRebalancingApi"/> class.
        /// </summary>
        internal PortfoliosRebalancingApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Triggers an immediate rebalancing execution for all accounts linked to the specified allocation.
        /// The rebalancing adjusts each account's positions to match the current target allocation weights. In rare situations, individual orders within the rebalancing may not be cancellable once submitted.
        /// See the Portfolios rebalancing guide ([TOL](https://docs.upvest.co/products/tol/guides/portfolios/rebalancing/rebalancing) / [BYOL](https://docs.upvest.co/products/byol/guides/portfolios/rebalancing/rebalancing)) for implementation details.
        /// </summary>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="idempotencyKey">Required parameter: A UUID to be used as an idempotency key.  This prevents a duplicate request from being replayed. https://docs.upvest.co/documentation/concepts/api_concepts/idempotency.</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.TriggerPortfolioRebalancingResponse response from the API call.</returns>
        public ApiResponse<Models.TriggerPortfolioRebalancingResponse> TriggerPortfolioRebalancing(
                Guid upvestClientId,
                Guid idempotencyKey,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                TriggerPortfolioRebalancingBody body = null)
            => CoreHelper.RunTask(TriggerPortfolioRebalancingAsync(upvestClientId, idempotencyKey, upvestApiVersion, body));

        /// <summary>
        /// Triggers an immediate rebalancing execution for all accounts linked to the specified allocation.
        /// The rebalancing adjusts each account's positions to match the current target allocation weights. In rare situations, individual orders within the rebalancing may not be cancellable once submitted.
        /// See the Portfolios rebalancing guide ([TOL](https://docs.upvest.co/products/tol/guides/portfolios/rebalancing/rebalancing) / [BYOL](https://docs.upvest.co/products/byol/guides/portfolios/rebalancing/rebalancing)) for implementation details.
        /// </summary>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="idempotencyKey">Required parameter: A UUID to be used as an idempotency key.  This prevents a duplicate request from being replayed. https://docs.upvest.co/documentation/concepts/api_concepts/idempotency.</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TriggerPortfolioRebalancingResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.TriggerPortfolioRebalancingResponse>> TriggerPortfolioRebalancingAsync(
                Guid upvestClientId,
                Guid idempotencyKey,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                TriggerPortfolioRebalancingBody body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TriggerPortfolioRebalancingResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/portfolios/rebalancings/executions")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("idempotency-key", idempotencyKey))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve portfolios rebalancing execution.
        /// </summary>
        /// <param name="executionId">Required parameter: The unique identifier of the order execution. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <returns>Returns the ApiResponse of Models.PortfoliosRebalancingExecution response from the API call.</returns>
        public ApiResponse<Models.PortfoliosRebalancingExecution> RetrievePortfoliosRebalancingExecution(
                Guid executionId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1)
            => CoreHelper.RunTask(RetrievePortfoliosRebalancingExecutionAsync(executionId, upvestClientId, upvestApiVersion));

        /// <summary>
        /// Retrieve portfolios rebalancing execution.
        /// </summary>
        /// <param name="executionId">Required parameter: The unique identifier of the order execution. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PortfoliosRebalancingExecution response from the API call.</returns>
        public async Task<ApiResponse<Models.PortfoliosRebalancingExecution>> RetrievePortfoliosRebalancingExecutionAsync(
                Guid executionId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PortfoliosRebalancingExecution>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/portfolios/rebalancings/executions/{execution_id}")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("execution_id", executionId))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("405", CreateErrorCase("Method Not Allowed. The requested method is not allowed on the requested resource.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// List portfolio rebalancing execution orders.
        /// </summary>
        /// <param name="executionId">Required parameter: The unique identifier of the order execution. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="sort">Optional parameter: Sort the result by `status`..</param>
        /// <param name="order">Optional parameter: Sort order of the result list if the `sort` parameter is specified. By default, only ASC for ascending sort..</param>
        /// <param name="offset">Optional parameter: Use the `offset` argument to specify where in the list of results to start when returning items for a particular query..</param>
        /// <param name="limit">Optional parameter: Use the `limit` argument to specify the maximum number of items returned..</param>
        /// <param name="startDate">Optional parameter: Returns rebalancing orders with dates starting from and including this date (UTC).</param>
        /// <param name="endDate">Optional parameter: Returns rebalancing orders with dates up until this date (UTC).</param>
        /// <returns>Returns the ApiResponse of Models.PortfoliosRebalancingExecutionOrderListResponse response from the API call.</returns>
        public ApiResponse<Models.PortfoliosRebalancingExecutionOrderListResponse> ListPortfolioRebalancingExecutionOrders(
                Guid executionId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.Sort26? sort = Models.Sort26.Status,
                Models.Order58? order = Models.Order58.Asc,
                int? offset = null,
                int? limit = 100,
                string startDate = null,
                string endDate = null)
            => CoreHelper.RunTask(ListPortfolioRebalancingExecutionOrdersAsync(executionId, upvestClientId, upvestApiVersion, sort, order, offset, limit, startDate, endDate));

        /// <summary>
        /// List portfolio rebalancing execution orders.
        /// </summary>
        /// <param name="executionId">Required parameter: The unique identifier of the order execution. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="sort">Optional parameter: Sort the result by `status`..</param>
        /// <param name="order">Optional parameter: Sort order of the result list if the `sort` parameter is specified. By default, only ASC for ascending sort..</param>
        /// <param name="offset">Optional parameter: Use the `offset` argument to specify where in the list of results to start when returning items for a particular query..</param>
        /// <param name="limit">Optional parameter: Use the `limit` argument to specify the maximum number of items returned..</param>
        /// <param name="startDate">Optional parameter: Returns rebalancing orders with dates starting from and including this date (UTC).</param>
        /// <param name="endDate">Optional parameter: Returns rebalancing orders with dates up until this date (UTC).</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PortfoliosRebalancingExecutionOrderListResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PortfoliosRebalancingExecutionOrderListResponse>> ListPortfolioRebalancingExecutionOrdersAsync(
                Guid executionId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.Sort26? sort = Models.Sort26.Status,
                Models.Order58? order = Models.Order58.Asc,
                int? offset = null,
                int? limit = 100,
                string startDate = null,
                string endDate = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PortfoliosRebalancingExecutionOrderListResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/portfolios/rebalancings/executions/{execution_id}/orders")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("execution_id", executionId))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))
                      .Query(query => query.Setup("sort", (sort.HasValue) ? CoreHelper.JsonSerialize(sort.Value).Trim('\"') : "status"))
                      .Query(query => query.Setup("order", (order.HasValue) ? CoreHelper.JsonSerialize(order.Value).Trim('\"') : "ASC"))
                      .Query(query => query.Setup("offset", offset))
                      .Query(query => query.Setup("limit", limit ?? 100))
                      .Query(query => query.Setup("start_date", startDate))
                      .Query(query => query.Setup("end_date", endDate))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("405", CreateErrorCase("Method Not Allowed. The requested method is not allowed on the requested resource.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}