// <copyright file="PriceDataApi.cs" company="APIMatic">
// UpvestInvestmentApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using UpvestInvestmentApi.Standard.Exceptions;
using UpvestInvestmentApi.Standard.Http.Response;
using UpvestInvestmentApi.Standard.Models.Containers;

namespace UpvestInvestmentApi.Standard.Apis
{
    /// <summary>
    /// PriceDataApi.
    /// </summary>
    public class PriceDataApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="PriceDataApi"/> class.
        /// </summary>
        internal PriceDataApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// The venues where the instrument is traded and for which the price data is available.
        /// </summary>
        /// <param name="instrumentId">Required parameter: The unique identifier of the instrument, provided as either an `isin:` URN or a `uuid:` URN..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <returns>Returns the ApiResponse of Models.InstrumentsVenuesResponse response from the API call.</returns>
        public ApiResponse<Models.InstrumentsVenuesResponse> RetrieveInstrumentVenues(
                RetrieveInstrumentVenuesInstrumentId instrumentId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1)
            => CoreHelper.RunTask(RetrieveInstrumentVenuesAsync(instrumentId, upvestClientId, upvestApiVersion));

        /// <summary>
        /// The venues where the instrument is traded and for which the price data is available.
        /// </summary>
        /// <param name="instrumentId">Required parameter: The unique identifier of the instrument, provided as either an `isin:` URN or a `uuid:` URN..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.InstrumentsVenuesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.InstrumentsVenuesResponse>> RetrieveInstrumentVenuesAsync(
                RetrieveInstrumentVenuesInstrumentId instrumentId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.InstrumentsVenuesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/instruments/{instrument_id}/venues")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("instrument_id", instrumentId).Required())
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns the instrument's latest price as available at the specified venue.
        /// **NOTE**: Please note that in live mode we provide the latest prices that we receive from our data provider. However, it is to be expected that such updates will only take place on trading days.
        /// </summary>
        /// <param name="instrumentId">Required parameter: The unique identifier of the instrument, provided as either an `isin:` URN or a `uuid:` URN..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="venueId">Required parameter: The unique identifier of the trading venue. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="priceQuality">Optional parameter: Example: HIGHEST_AVAILABLE.</param>
        /// <returns>Returns the ApiResponse of Models.InstrumentsVenuesPricesLatestResponse response from the API call.</returns>
        public ApiResponse<Models.InstrumentsVenuesPricesLatestResponse> RetrieveInstrumentLatestPrice(
                RetrieveInstrumentLatestPriceInstrumentId instrumentId,
                Guid upvestClientId,
                Guid venueId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.PriceQuality1? priceQuality = Models.PriceQuality1.HighestAvailable)
            => CoreHelper.RunTask(RetrieveInstrumentLatestPriceAsync(instrumentId, upvestClientId, venueId, upvestApiVersion, priceQuality));

        /// <summary>
        /// Returns the instrument's latest price as available at the specified venue.
        /// **NOTE**: Please note that in live mode we provide the latest prices that we receive from our data provider. However, it is to be expected that such updates will only take place on trading days.
        /// </summary>
        /// <param name="instrumentId">Required parameter: The unique identifier of the instrument, provided as either an `isin:` URN or a `uuid:` URN..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="venueId">Required parameter: The unique identifier of the trading venue. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="priceQuality">Optional parameter: Example: HIGHEST_AVAILABLE.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.InstrumentsVenuesPricesLatestResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.InstrumentsVenuesPricesLatestResponse>> RetrieveInstrumentLatestPriceAsync(
                RetrieveInstrumentLatestPriceInstrumentId instrumentId,
                Guid upvestClientId,
                Guid venueId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.PriceQuality1? priceQuality = Models.PriceQuality1.HighestAvailable,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.InstrumentsVenuesPricesLatestResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/instruments/{instrument_id}/venues/{venue_id}/prices/latest")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("instrument_id", instrumentId).Required())
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Template(template => template.Setup("venue_id", venueId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))
                      .Query(query => query.Setup("price_quality", (priceQuality.HasValue) ? CoreHelper.JsonSerialize(priceQuality.Value).Trim('\"') : "HIGHEST_AVAILABLE"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns OHLC prices for the instrument at the specified venue for the chosen time period.
        /// If requested interval is `1d`, then the response also includes days with 0 volume. In these cases `open`, `high`, `low` are empty (`""`), but `close` is provided. If requested interval is smaller than `1d`, then the intervals with 0 volume are omitted from the response.
        /// **NOTE**: Please note that in live mode we provide the latest prices that we receive from our data provider. However, it is to be expected that such updates will only take place on trading days.
        /// </summary>
        /// <param name="instrumentId">Required parameter: The unique identifier of the instrument, provided as either an `isin:` URN or a `uuid:` URN..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="venueId">Required parameter: The unique identifier of the trading venue. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="startDate">Optional parameter: Returns OHLC prices from and including this datetime (UTC). If not specified, OHLC prices are returned from 30 days before the specified `end_date`. Time part of the timestamp is optional..</param>
        /// <param name="endDate">Optional parameter: Returns OHLC prices from and including this datetime (UTC). If not specified, OHLC prices are returned up to yesterday. Time part of the timestamp is optional..</param>
        /// <param name="adjustedFor">Optional parameter: Indication of the desired data adjustment. Prices are adjusted for corporate actions such as cash dividends and stock splits. Does not apply if intraday prices are being requested..</param>
        /// <param name="interval">Optional parameter: Indicates the maximum length of the interval each OHLC price tuple covers. If a price did not change subsequent price tuples are omitted. Allowed values are `1d` for daily prices or any positive integer followed by `h` or `m` for hour or minute, respectively. Requests are limited to a maximum of 1000 data points..</param>
        /// <returns>Returns the ApiResponse of Models.InstrumentsVenuesPricesOhlcResponse response from the API call.</returns>
        public ApiResponse<Models.InstrumentsVenuesPricesOhlcResponse> RetrieveInstrumentPricesOhlc(
                RetrieveInstrumentPricesOhlcInstrumentId instrumentId,
                Guid upvestClientId,
                Guid venueId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                DateTime? startDate = null,
                DateTime? endDate = null,
                Models.AdjustedFor? adjustedFor = Models.AdjustedFor.All,
                string interval = "1d")
            => CoreHelper.RunTask(RetrieveInstrumentPricesOhlcAsync(instrumentId, upvestClientId, venueId, upvestApiVersion, startDate, endDate, adjustedFor, interval));

        /// <summary>
        /// Returns OHLC prices for the instrument at the specified venue for the chosen time period.
        /// If requested interval is `1d`, then the response also includes days with 0 volume. In these cases `open`, `high`, `low` are empty (`""`), but `close` is provided. If requested interval is smaller than `1d`, then the intervals with 0 volume are omitted from the response.
        /// **NOTE**: Please note that in live mode we provide the latest prices that we receive from our data provider. However, it is to be expected that such updates will only take place on trading days.
        /// </summary>
        /// <param name="instrumentId">Required parameter: The unique identifier of the instrument, provided as either an `isin:` URN or a `uuid:` URN..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="venueId">Required parameter: The unique identifier of the trading venue. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="startDate">Optional parameter: Returns OHLC prices from and including this datetime (UTC). If not specified, OHLC prices are returned from 30 days before the specified `end_date`. Time part of the timestamp is optional..</param>
        /// <param name="endDate">Optional parameter: Returns OHLC prices from and including this datetime (UTC). If not specified, OHLC prices are returned up to yesterday. Time part of the timestamp is optional..</param>
        /// <param name="adjustedFor">Optional parameter: Indication of the desired data adjustment. Prices are adjusted for corporate actions such as cash dividends and stock splits. Does not apply if intraday prices are being requested..</param>
        /// <param name="interval">Optional parameter: Indicates the maximum length of the interval each OHLC price tuple covers. If a price did not change subsequent price tuples are omitted. Allowed values are `1d` for daily prices or any positive integer followed by `h` or `m` for hour or minute, respectively. Requests are limited to a maximum of 1000 data points..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.InstrumentsVenuesPricesOhlcResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.InstrumentsVenuesPricesOhlcResponse>> RetrieveInstrumentPricesOhlcAsync(
                RetrieveInstrumentPricesOhlcInstrumentId instrumentId,
                Guid upvestClientId,
                Guid venueId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                DateTime? startDate = null,
                DateTime? endDate = null,
                Models.AdjustedFor? adjustedFor = Models.AdjustedFor.All,
                string interval = "1d",
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.InstrumentsVenuesPricesOhlcResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/instruments/{instrument_id}/venues/{venue_id}/prices/ohlc")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("instrument_id", instrumentId).Required())
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Template(template => template.Setup("venue_id", venueId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))
                      .Query(query => query.Setup("start_date", startDate.HasValue ? startDate.Value.ToString("yyyy'-'MM'-'dd") : null))
                      .Query(query => query.Setup("end_date", endDate.HasValue ? endDate.Value.ToString("yyyy'-'MM'-'dd") : null))
                      .Query(query => query.Setup("adjusted_for", (adjustedFor.HasValue) ? CoreHelper.JsonSerialize(adjustedFor.Value).Trim('\"') : "ALL"))
                      .Query(query => query.Setup("interval", interval ?? "1d"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}