// <copyright file="ReportsApi.cs" company="APIMatic">
// UpvestInvestmentApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using UpvestInvestmentApi.Standard.Exceptions;
using UpvestInvestmentApi.Standard.Http.Response;
using UpvestInvestmentApi.Standard.Models.Containers;

namespace UpvestInvestmentApi.Standard.Apis
{
    /// <summary>
    /// ReportsApi.
    /// </summary>
    public class ReportsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ReportsApi"/> class.
        /// </summary>
        internal ReportsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// List user reports.
        /// </summary>
        /// <param name="userId">Required parameter: The unique identifier of the user. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="type">Optional parameter: Filters the list to only show reports of a certain type (e.g. only buy order confirmations).</param>
        /// <param name="instrument">Optional parameter: Filters the list to only include reports concerning specified instrument.</param>
        /// <param name="startDate">Optional parameter: .</param>
        /// <param name="endDate">Optional parameter: .</param>
        /// <param name="sort">Optional parameter: Field of resource to sort by.</param>
        /// <param name="order">Optional parameter: Sort order of the result list if the `sort` parameter is specified. Use `ASC` for ascending or `DESC` for descending sort order..</param>
        /// <param name="limit">Optional parameter: Use the `limit` argument to specify the maximum number of items returned..</param>
        /// <param name="offset">Optional parameter: Use the `offset` argument to specify where in the list of results to start when returning items for a particular query..</param>
        /// <returns>Returns the ApiResponse of Models.ReportsListResponse response from the API call.</returns>
        public ApiResponse<Models.ReportsListResponse> ListUserReports(
                Guid userId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.ReportType? type = null,
                ListUserReportsInstrument instrument = null,
                DateTime? startDate = null,
                DateTime? endDate = null,
                Models.Sort22? sort = Models.Sort22.CreatedAt,
                Models.Order? order = Models.Order.Asc,
                int? limit = 100,
                int? offset = null)
            => CoreHelper.RunTask(ListUserReportsAsync(userId, upvestClientId, upvestApiVersion, type, instrument, startDate, endDate, sort, order, limit, offset));

        /// <summary>
        /// List user reports.
        /// </summary>
        /// <param name="userId">Required parameter: The unique identifier of the user. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="type">Optional parameter: Filters the list to only show reports of a certain type (e.g. only buy order confirmations).</param>
        /// <param name="instrument">Optional parameter: Filters the list to only include reports concerning specified instrument.</param>
        /// <param name="startDate">Optional parameter: .</param>
        /// <param name="endDate">Optional parameter: .</param>
        /// <param name="sort">Optional parameter: Field of resource to sort by.</param>
        /// <param name="order">Optional parameter: Sort order of the result list if the `sort` parameter is specified. Use `ASC` for ascending or `DESC` for descending sort order..</param>
        /// <param name="limit">Optional parameter: Use the `limit` argument to specify the maximum number of items returned..</param>
        /// <param name="offset">Optional parameter: Use the `offset` argument to specify where in the list of results to start when returning items for a particular query..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ReportsListResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ReportsListResponse>> ListUserReportsAsync(
                Guid userId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.ReportType? type = null,
                ListUserReportsInstrument instrument = null,
                DateTime? startDate = null,
                DateTime? endDate = null,
                Models.Sort22? sort = Models.Sort22.CreatedAt,
                Models.Order? order = Models.Order.Asc,
                int? limit = 100,
                int? offset = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ReportsListResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/users/{user_id}/reports")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("user_id", userId))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))
                      .Query(query => query.Setup("type", (type.HasValue) ? CoreHelper.JsonSerialize(type.Value).Trim('\"') : null))
                      .Query(query => query.Setup("instrument", instrument))
                      .Query(query => query.Setup("start_date", startDate.HasValue ? startDate.Value.ToString("yyyy'-'MM'-'dd") : null))
                      .Query(query => query.Setup("end_date", endDate.HasValue ? endDate.Value.ToString("yyyy'-'MM'-'dd") : null))
                      .Query(query => query.Setup("sort", (sort.HasValue) ? CoreHelper.JsonSerialize(sort.Value).Trim('\"') : "created_at"))
                      .Query(query => query.Setup("order", (order.HasValue) ? CoreHelper.JsonSerialize(order.Value).Trim('\"') : "ASC"))
                      .Query(query => query.Setup("limit", limit ?? 100))
                      .Query(query => query.Setup("offset", offset))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create a user report.
        /// </summary>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of CreateReportResponse response from the API call.</returns>
        public ApiResponse<CreateReportResponse> CreateReport(
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                CreateReportBody body = null)
            => CoreHelper.RunTask(CreateReportAsync(upvestClientId, upvestApiVersion, body));

        /// <summary>
        /// Create a user report.
        /// </summary>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of CreateReportResponse response from the API call.</returns>
        public async Task<ApiResponse<CreateReportResponse>> CreateReportAsync(
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                CreateReportBody body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<CreateReportResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/reports")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve a report for either a natural person or a business entity.
        /// </summary>
        /// <param name="reportId">Required parameter: The unique identifier of the report. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="accept">Optional parameter: Report format.</param>
        /// <returns>Returns the ApiResponse of RetrieveReportResponse response from the API call.</returns>
        public ApiResponse<RetrieveReportResponse> RetrieveReport(
                Guid reportId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.Accept? accept = Models.Accept.EnumApplicationjson)
            => CoreHelper.RunTask(RetrieveReportAsync(reportId, upvestClientId, upvestApiVersion, accept));

        /// <summary>
        /// Retrieve a report for either a natural person or a business entity.
        /// </summary>
        /// <param name="reportId">Required parameter: The unique identifier of the report. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="accept">Optional parameter: Report format.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of RetrieveReportResponse response from the API call.</returns>
        public async Task<ApiResponse<RetrieveReportResponse>> RetrieveReportAsync(
                Guid reportId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.Accept? accept = Models.Accept.EnumApplicationjson,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<RetrieveReportResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/reports/{report_id}")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("report_id", reportId))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))
                      .Header(header => header.Setup("accept", (accept.HasValue) ? CoreHelper.JsonSerialize(accept.Value).Trim('\"') : "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a paginated list of reports generated for the business identified by `business_id`.
        /// Use the `offset` and `limit` query parameters to page through results; `meta.total_count` gives the total number of matching reports. Use `type` and `instrument` to filter results, and `start_date`/`end_date` to limit the range of report generation dates.
        /// </summary>
        /// <param name="businessId">Required parameter: The unique identifier of the business. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="type">Optional parameter: Filters the list to only show reports of a certain type (e.g. only buy order confirmations).</param>
        /// <param name="instrument">Optional parameter: Filters the list to only include reports concerning specified instrument.</param>
        /// <param name="startDate">Optional parameter: Returns reports generated on or after this date, as an [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) date in `YYYY-MM-DD` format (UTC).</param>
        /// <param name="endDate">Optional parameter: Returns reports generated on or before this date, as an [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) date in `YYYY-MM-DD` format (UTC).</param>
        /// <param name="sort">Optional parameter: Field to sort the result by. Accepts `id` or `created_at`.</param>
        /// <param name="order">Optional parameter: Sort order of the result list if the `sort` parameter is specified. Use `ASC` for ascending or `DESC` for descending sort order..</param>
        /// <param name="limit">Optional parameter: Use the `limit` argument to specify the maximum number of items returned..</param>
        /// <param name="offset">Optional parameter: Use the `offset` argument to specify where in the list of results to start when returning items for a particular query..</param>
        /// <returns>Returns the ApiResponse of Models.BusinessReportsListResponse response from the API call.</returns>
        public ApiResponse<Models.BusinessReportsListResponse> ListBusinessReports(
                Guid businessId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.ReportType? type = null,
                ListBusinessReportsInstrument instrument = null,
                DateTime? startDate = null,
                DateTime? endDate = null,
                Models.Sort4? sort = Models.Sort4.CreatedAt,
                Models.Order? order = Models.Order.Asc,
                int? limit = 100,
                int? offset = null)
            => CoreHelper.RunTask(ListBusinessReportsAsync(businessId, upvestClientId, upvestApiVersion, type, instrument, startDate, endDate, sort, order, limit, offset));

        /// <summary>
        /// Returns a paginated list of reports generated for the business identified by `business_id`.
        /// Use the `offset` and `limit` query parameters to page through results; `meta.total_count` gives the total number of matching reports. Use `type` and `instrument` to filter results, and `start_date`/`end_date` to limit the range of report generation dates.
        /// </summary>
        /// <param name="businessId">Required parameter: The unique identifier of the business. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="type">Optional parameter: Filters the list to only show reports of a certain type (e.g. only buy order confirmations).</param>
        /// <param name="instrument">Optional parameter: Filters the list to only include reports concerning specified instrument.</param>
        /// <param name="startDate">Optional parameter: Returns reports generated on or after this date, as an [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) date in `YYYY-MM-DD` format (UTC).</param>
        /// <param name="endDate">Optional parameter: Returns reports generated on or before this date, as an [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) date in `YYYY-MM-DD` format (UTC).</param>
        /// <param name="sort">Optional parameter: Field to sort the result by. Accepts `id` or `created_at`.</param>
        /// <param name="order">Optional parameter: Sort order of the result list if the `sort` parameter is specified. Use `ASC` for ascending or `DESC` for descending sort order..</param>
        /// <param name="limit">Optional parameter: Use the `limit` argument to specify the maximum number of items returned..</param>
        /// <param name="offset">Optional parameter: Use the `offset` argument to specify where in the list of results to start when returning items for a particular query..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BusinessReportsListResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BusinessReportsListResponse>> ListBusinessReportsAsync(
                Guid businessId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.ReportType? type = null,
                ListBusinessReportsInstrument instrument = null,
                DateTime? startDate = null,
                DateTime? endDate = null,
                Models.Sort4? sort = Models.Sort4.CreatedAt,
                Models.Order? order = Models.Order.Asc,
                int? limit = 100,
                int? offset = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BusinessReportsListResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/businesses/{business_id}/reports")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("business_id", businessId))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))
                      .Query(query => query.Setup("type", (type.HasValue) ? CoreHelper.JsonSerialize(type.Value).Trim('\"') : null))
                      .Query(query => query.Setup("instrument", instrument))
                      .Query(query => query.Setup("start_date", startDate.HasValue ? startDate.Value.ToString("yyyy'-'MM'-'dd") : null))
                      .Query(query => query.Setup("end_date", endDate.HasValue ? endDate.Value.ToString("yyyy'-'MM'-'dd") : null))
                      .Query(query => query.Setup("sort", (sort.HasValue) ? CoreHelper.JsonSerialize(sort.Value).Trim('\"') : "created_at"))
                      .Query(query => query.Setup("order", (order.HasValue) ? CoreHelper.JsonSerialize(order.Value).Trim('\"') : "ASC"))
                      .Query(query => query.Setup("limit", limit ?? 100))
                      .Query(query => query.Setup("offset", offset))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}