// <copyright file="TransactionsApi.cs" company="APIMatic">
// UpvestInvestmentApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using UpvestInvestmentApi.Standard.Exceptions;
using UpvestInvestmentApi.Standard.Http.Response;

namespace UpvestInvestmentApi.Standard.Apis
{
    /// <summary>
    /// TransactionsApi.
    /// </summary>
    public class TransactionsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TransactionsApi"/> class.
        /// </summary>
        internal TransactionsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// List cash transactions.
        /// </summary>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="accountGroupId">Optional parameter: Filters the list to show only transactions associated with a certain account group ID..</param>
        /// <param name="startDate">Optional parameter: .</param>
        /// <param name="endDate">Optional parameter: .</param>
        /// <param name="sort">Optional parameter: Sort the result by `booking_date`..</param>
        /// <param name="order">Optional parameter: Sort order of the result list if the `sort` parameter is specified. Use `ASC` for ascending or `DESC` for descending sort order..</param>
        /// <param name="offset">Optional parameter: Use the `offset` argument to specify where in the list of results to start when returning items for a particular query..</param>
        /// <param name="limit">Optional parameter: Use the `limit` argument to specify the maximum number of items returned..</param>
        /// <returns>Returns the ApiResponse of Models.CashTransactionListResponse response from the API call.</returns>
        public ApiResponse<Models.CashTransactionListResponse> ListCashTransactions(
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Guid? accountGroupId = null,
                DateTime? startDate = null,
                DateTime? endDate = null,
                Models.Sort29? sort = Models.Sort29.BookingDate,
                Models.Order? order = Models.Order.Asc,
                int? offset = null,
                int? limit = 100)
            => CoreHelper.RunTask(ListCashTransactionsAsync(upvestClientId, upvestApiVersion, accountGroupId, startDate, endDate, sort, order, offset, limit));

        /// <summary>
        /// List cash transactions.
        /// </summary>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="accountGroupId">Optional parameter: Filters the list to show only transactions associated with a certain account group ID..</param>
        /// <param name="startDate">Optional parameter: .</param>
        /// <param name="endDate">Optional parameter: .</param>
        /// <param name="sort">Optional parameter: Sort the result by `booking_date`..</param>
        /// <param name="order">Optional parameter: Sort order of the result list if the `sort` parameter is specified. Use `ASC` for ascending or `DESC` for descending sort order..</param>
        /// <param name="offset">Optional parameter: Use the `offset` argument to specify where in the list of results to start when returning items for a particular query..</param>
        /// <param name="limit">Optional parameter: Use the `limit` argument to specify the maximum number of items returned..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.CashTransactionListResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.CashTransactionListResponse>> ListCashTransactionsAsync(
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Guid? accountGroupId = null,
                DateTime? startDate = null,
                DateTime? endDate = null,
                Models.Sort29? sort = Models.Sort29.BookingDate,
                Models.Order? order = Models.Order.Asc,
                int? offset = null,
                int? limit = 100,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CashTransactionListResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/transactions/cash")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))
                      .Query(query => query.Setup("account_group_id", accountGroupId))
                      .Query(query => query.Setup("start_date", startDate.HasValue ? startDate.Value.ToString("yyyy'-'MM'-'dd") : null))
                      .Query(query => query.Setup("end_date", endDate.HasValue ? endDate.Value.ToString("yyyy'-'MM'-'dd") : null))
                      .Query(query => query.Setup("sort", (sort.HasValue) ? CoreHelper.JsonSerialize(sort.Value).Trim('\"') : "booking_date"))
                      .Query(query => query.Setup("order", (order.HasValue) ? CoreHelper.JsonSerialize(order.Value).Trim('\"') : "ASC"))
                      .Query(query => query.Setup("offset", offset))
                      .Query(query => query.Setup("limit", limit ?? 100))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("405", CreateErrorCase("Method Not Allowed. The requested method is not allowed on the requested resource.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// List securities transactions.
        /// </summary>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="accountGroupId">Optional parameter: Filters the list to only show transactions associated with a certain account group ID..</param>
        /// <param name="accountId">Optional parameter: Filters the list to only show transactions associated with a certain account ID..</param>
        /// <param name="startDate">Optional parameter: .</param>
        /// <param name="endDate">Optional parameter: .</param>
        /// <param name="sort">Optional parameter: Sort the result by `booking_date`..</param>
        /// <param name="order">Optional parameter: Sort order of the result list if the `sort` parameter is specified. Use `ASC` for ascending or `DESC` for descending sort order..</param>
        /// <param name="offset">Optional parameter: Use the `offset` argument to specify where in the list of results to start when returning items for a particular query..</param>
        /// <param name="limit">Optional parameter: Use the `limit` argument to specify the maximum number of items returned..</param>
        /// <returns>Returns the ApiResponse of Models.SecurityTransactionListResponse response from the API call.</returns>
        public ApiResponse<Models.SecurityTransactionListResponse> ListSecuritiesTransactions(
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Guid? accountGroupId = null,
                Guid? accountId = null,
                DateTime? startDate = null,
                DateTime? endDate = null,
                Models.Sort29? sort = Models.Sort29.BookingDate,
                Models.Order? order = Models.Order.Asc,
                int? offset = null,
                int? limit = 100)
            => CoreHelper.RunTask(ListSecuritiesTransactionsAsync(upvestClientId, upvestApiVersion, accountGroupId, accountId, startDate, endDate, sort, order, offset, limit));

        /// <summary>
        /// List securities transactions.
        /// </summary>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="accountGroupId">Optional parameter: Filters the list to only show transactions associated with a certain account group ID..</param>
        /// <param name="accountId">Optional parameter: Filters the list to only show transactions associated with a certain account ID..</param>
        /// <param name="startDate">Optional parameter: .</param>
        /// <param name="endDate">Optional parameter: .</param>
        /// <param name="sort">Optional parameter: Sort the result by `booking_date`..</param>
        /// <param name="order">Optional parameter: Sort order of the result list if the `sort` parameter is specified. Use `ASC` for ascending or `DESC` for descending sort order..</param>
        /// <param name="offset">Optional parameter: Use the `offset` argument to specify where in the list of results to start when returning items for a particular query..</param>
        /// <param name="limit">Optional parameter: Use the `limit` argument to specify the maximum number of items returned..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SecurityTransactionListResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.SecurityTransactionListResponse>> ListSecuritiesTransactionsAsync(
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Guid? accountGroupId = null,
                Guid? accountId = null,
                DateTime? startDate = null,
                DateTime? endDate = null,
                Models.Sort29? sort = Models.Sort29.BookingDate,
                Models.Order? order = Models.Order.Asc,
                int? offset = null,
                int? limit = 100,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SecurityTransactionListResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/transactions/securities")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))
                      .Query(query => query.Setup("account_group_id", accountGroupId))
                      .Query(query => query.Setup("account_id", accountId))
                      .Query(query => query.Setup("start_date", startDate.HasValue ? startDate.Value.ToString("yyyy'-'MM'-'dd") : null))
                      .Query(query => query.Setup("end_date", endDate.HasValue ? endDate.Value.ToString("yyyy'-'MM'-'dd") : null))
                      .Query(query => query.Setup("sort", (sort.HasValue) ? CoreHelper.JsonSerialize(sort.Value).Trim('\"') : "booking_date"))
                      .Query(query => query.Setup("order", (order.HasValue) ? CoreHelper.JsonSerialize(order.Value).Trim('\"') : "ASC"))
                      .Query(query => query.Setup("offset", offset))
                      .Query(query => query.Setup("limit", limit ?? 100))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("405", CreateErrorCase("Method Not Allowed. The requested method is not allowed on the requested resource.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}