// <copyright file="VirtualBankAccountsApi.cs" company="APIMatic">
// UpvestInvestmentApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using UpvestInvestmentApi.Standard.Exceptions;
using UpvestInvestmentApi.Standard.Http.Response;

namespace UpvestInvestmentApi.Standard.Apis
{
    /// <summary>
    /// VirtualBankAccountsApi.
    /// </summary>
    public class VirtualBankAccountsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="VirtualBankAccountsApi"/> class.
        /// </summary>
        internal VirtualBankAccountsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns a list of virtual bank accounts.
        /// </summary>
        /// <param name="accountGroupId">Required parameter: The unique identifier of the account group. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="sort">Optional parameter: Field of resource to sort by.</param>
        /// <param name="order">Optional parameter: Sort order of the result list if the `sort` parameter is specified. Use `ASC` for ascending or `DESC` for descending sort order..</param>
        /// <param name="limit">Optional parameter: Use the `limit` argument to specify the maximum number of items returned..</param>
        /// <param name="offset">Optional parameter: Use the `offset` argument to specify where in the list of results to start when returning items for a particular query..</param>
        /// <returns>Returns the ApiResponse of Models.PaymentsVirtualBankAccountsListResponse response from the API call.</returns>
        public ApiResponse<Models.PaymentsVirtualBankAccountsListResponse> ListVirtualBankAccounts(
                Guid accountGroupId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.Sort4? sort = Models.Sort4.CreatedAt,
                Models.Order? order = Models.Order.Asc,
                int? limit = 100,
                int? offset = null)
            => CoreHelper.RunTask(ListVirtualBankAccountsAsync(accountGroupId, upvestClientId, upvestApiVersion, sort, order, limit, offset));

        /// <summary>
        /// Returns a list of virtual bank accounts.
        /// </summary>
        /// <param name="accountGroupId">Required parameter: The unique identifier of the account group. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="sort">Optional parameter: Field of resource to sort by.</param>
        /// <param name="order">Optional parameter: Sort order of the result list if the `sort` parameter is specified. Use `ASC` for ascending or `DESC` for descending sort order..</param>
        /// <param name="limit">Optional parameter: Use the `limit` argument to specify the maximum number of items returned..</param>
        /// <param name="offset">Optional parameter: Use the `offset` argument to specify where in the list of results to start when returning items for a particular query..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PaymentsVirtualBankAccountsListResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PaymentsVirtualBankAccountsListResponse>> ListVirtualBankAccountsAsync(
                Guid accountGroupId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.Sort4? sort = Models.Sort4.CreatedAt,
                Models.Order? order = Models.Order.Asc,
                int? limit = 100,
                int? offset = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PaymentsVirtualBankAccountsListResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/account_groups/{account_group_id}/payments/virtual_bank_accounts")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("account_group_id", accountGroupId))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))
                      .Query(query => query.Setup("sort", (sort.HasValue) ? CoreHelper.JsonSerialize(sort.Value).Trim('\"') : "created_at"))
                      .Query(query => query.Setup("order", (order.HasValue) ? CoreHelper.JsonSerialize(order.Value).Trim('\"') : "ASC"))
                      .Query(query => query.Setup("limit", limit ?? 100))
                      .Query(query => query.Setup("offset", offset))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Creates a virtual bank account for an account group. The virtual bank account provides an IBAN and BIC that end users can use to send SEPA Credit Transfers directly to their investment account.
        /// </summary>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="idempotencyKey">Required parameter: A UUID to be used as an idempotency key.  This prevents a duplicate request from being replayed. https://docs.upvest.co/documentation/concepts/api_concepts/idempotency.</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.PaymentsVirtualBankAccountsResponse response from the API call.</returns>
        public ApiResponse<Models.PaymentsVirtualBankAccountsResponse> CreateVirtualBankAccount(
                Guid upvestClientId,
                Guid idempotencyKey,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.PaymentsVirtualBankAccountCreateRequest body = null)
            => CoreHelper.RunTask(CreateVirtualBankAccountAsync(upvestClientId, idempotencyKey, upvestApiVersion, body));

        /// <summary>
        /// Creates a virtual bank account for an account group. The virtual bank account provides an IBAN and BIC that end users can use to send SEPA Credit Transfers directly to their investment account.
        /// </summary>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="idempotencyKey">Required parameter: A UUID to be used as an idempotency key.  This prevents a duplicate request from being replayed. https://docs.upvest.co/documentation/concepts/api_concepts/idempotency.</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PaymentsVirtualBankAccountsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PaymentsVirtualBankAccountsResponse>> CreateVirtualBankAccountAsync(
                Guid upvestClientId,
                Guid idempotencyKey,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                Models.PaymentsVirtualBankAccountCreateRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PaymentsVirtualBankAccountsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/payments/virtual_bank_accounts")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("idempotency-key", idempotencyKey))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request. The incoming request had a malformed parameter/object.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a virtual bank account specified by its ID.
        /// </summary>
        /// <param name="virtualBankAccountId">Required parameter: The unique identifier of the virtual bank account. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <returns>Returns the ApiResponse of Models.PaymentsVirtualBankAccountsResponse response from the API call.</returns>
        public ApiResponse<Models.PaymentsVirtualBankAccountsResponse> RetrieveVirtualBankAccount(
                Guid virtualBankAccountId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1)
            => CoreHelper.RunTask(RetrieveVirtualBankAccountAsync(virtualBankAccountId, upvestClientId, upvestApiVersion));

        /// <summary>
        /// Returns a virtual bank account specified by its ID.
        /// </summary>
        /// <param name="virtualBankAccountId">Required parameter: The unique identifier of the virtual bank account. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestClientId">Required parameter: Your client ID, issued by Upvest. Identifies the client making the request. Universally Unique Identifier (UUID)..</param>
        /// <param name="upvestApiVersion">Optional parameter: Upvest API version (Note: Do not include quotation marks).</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PaymentsVirtualBankAccountsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PaymentsVirtualBankAccountsResponse>> RetrieveVirtualBankAccountAsync(
                Guid virtualBankAccountId,
                Guid upvestClientId,
                Models.UpvestApiVersion? upvestApiVersion = Models.UpvestApiVersion.Enum1,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PaymentsVirtualBankAccountsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/payments/virtual_bank_accounts/{virtual_bank_account_id}")
                  .WithAuth("oauth-client-credentials")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("virtual_bank_account_id", virtualBankAccountId))
                      .Header(header => header.Setup("upvest-client-id", upvestClientId))
                      .Header(header => header.Setup("upvest-api-version", (upvestApiVersion.HasValue) ? CoreHelper.JsonSerialize(upvestApiVersion.Value).Trim('\"') : "1"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized. The caller has not been authenticated.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden. The caller has been authenticated but is not allowed to take the requested action.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found. The requested resource could not be found.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable. The resource does not have a current representation that would be acceptable to the user agent. \"Accept\" header defined unsupported value.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests. The caller has exceeded their quota for the time period and has been throttled.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error. The service encountered an unexpected error.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Service Unavailable. The service handling for this request cannot be reached at this time.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("504", CreateErrorCase("Gateway Timeout. The service gateway has reached its internal timeout.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}